# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# materials
/react-projects
/src/components/Project2
/src/components/Project3
/src/components/Project4
/src/components/Project5
/src/components/Project6
/src/components/Project7

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
