/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: var(--dark-shadow);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
/* Project 1 */
#one {
background: var(--clr-pink);
}

#one h3 {
  text-align: center;
}

#one .container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}

#one .person {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  align-items: center;
}

#one .person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}

#one .person h4 {
  margin-bottom: 0.35rem;
}

#one .person p {
  margin-bottom: 0;
}

#one .person .btn {
  letter-spacing: 2px;
  cursor: pointer;
  color:hsl(209, 61%, 16%);
}

#one .person .btn:hover {
  color: rgb(247, 12, 12);
}

#one .container button {
  color: var(--clr-white);
  display: block;
  width: 100%;
  border-color: transparent;
  background: var(--clr-pink);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}

/* Project Two */
#two .loading {
  text-align: center;
}

#two .single-tour {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

#two .single-tour:hover {
  box-shadow: var(--dark-shadow);
}

#two .single-tour img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

#two .tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

#two .tour-info h4 {
  margin-bottom: 0;
}

#two .single-tour button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

#two .tour-price {
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

#two .single-tour footer {
  padding: 1.5rem 2rem;
}

#two .single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

/* Project three */
#three {
  background-color: var(--clr-grey-1);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#three .title {
  color: #000;
  text-align: center;
  margin-bottom: 4rem;
}

#three .review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  width: 90vw;
  max-width: var(--fixed-width);
}

#three .review:hover {
  box-shadow: var(--dark-shadow);
}

#three .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

#three .person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

#three .quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

#three .img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

#three .author {
  margin-bottom: 0.25rem;
}

#three .job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}

.info {
  margin-bottom: 0.75rem;
}

#three .prev-btn,
#three .next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

#three .prev-btn:hover,
#three .next-btn:hover {
  color: var(--clr-primary-5);
}

#three .random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}

#three .random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}

/*
=============== 
Questions
Project 4
===============
*/

#four {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-2);
}

#four .container {
  width: 90vw;
  margin: 5rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem;
  max-width: 900px;
  display: grid;
  gap: 1rem 2rem;
}

#four .container h3 {
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  #four .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}

#four .question {
  padding: 1rem 1.5rem;
  border: 2px solid rgb(222, 212, 212);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

#four .question h4 {
  text-transform: none;
  line-height: 1.5;
}

#four .question p {
  color: rgb(135, 128, 128);
  margin-bottom: 0;
  margin-top: 0.5rem;
}

#four .question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#four .question header h4 {
  margin-bottom: 0;
}

#four .btn {
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  font-size: larger;
  font-weight: bold;
  background: rgb(222, 212, 212);
  border-radius: 50%;
  color: rgb(248, 73, 73);
  cursor: pointer;
  margin-left: 1rem;
  min-width: 2rem;
}

/*
=============== 
Menu
Project 5
===============
*/

#five {
  background-color: var(--clr-grey-2);
}

#five .menu {
  padding: 5rem 0;
}

#five .title {
  text-align: center;
  margin-bottom: 2rem;
}

#five .underline {
  width: 5rem;
  height: 0.25rem;
  background: goldenrod;
  margin-left: auto;
  margin-right: auto;
}

#five .btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

#five .filter-btn {
  background: transparent;
  border-color: 1px solid rgb(212, 236, 243);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: goldenrod;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

#five .filter-btn:hover {
  background: goldenrod;
  color: var(--clr-white);
}

#five .section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

#five .menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

#five .photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: var(--radius);
  display: block;
}

#five .item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}

#five .item-info h4 {
  margin-bottom: 0.5rem;
}

#five .price {
  color: goldenrod;
}

#five .item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  #five .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }

    #five .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  #five .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }

    #five .photo {
    height: 150px;
  }
}

/*
=============== 
Jobs
Project6
===============
*/
#six {
  background-color: #f1f1f1;
  height: 100vh;
  max-height: 100%;
}

#six .section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  #six .section {
    width: 95vw;
  }
}

.loading {
  text-align: center;
}

#six .jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

#six .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

#six .job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--clr-primary-10);
}

#six .job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

#six .active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

#six .job-info h3 {
  font-weight: 400;
}

#six .job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-7);
  background: var(--clr-grey-3);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}

#six .job-date {
  letter-spacing: var(--spacing);
}

#six .job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

#six .job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}

#six .job-icon {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 992px) {
  #six .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }

  #six .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  #six .job-btn {
    margin-bottom: 1rem;
  }

  #six .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }

  #six .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}

#six .btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

#six .btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/*
=============== 
Project7
Slider
===============
*/
#seven {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 100vw;
  height: 200vh;
  max-height: 100%;
}

#seven .title {
  text-align: center;
  margin-bottom: 2rem;
}

#seven .title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

#seven .title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}

#seven .section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

#seven .person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

#seven article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}

#seven .title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}

#seven .text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}

#seven .icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}

#seven .prev,
#seven .next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

#seven .prev:hover,
#seven .next:hover {
  background: var(--clr-primary-5);
}

#seven .prev {
  left: 0;
}

#seven .next {
  right: 0;
}

@media (min-width: 800px) {
  #seven .text {
    max-width: 45em;
  }

    #seven .prev,
    #seven .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

#seven article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: var(--transition);
}

#seven article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
#seven article.lastSlide {
  transform: translateX(-100%);
}
#seven article.nextSlide {
  transform: translateX(100%);
}

/*
=============== 
Project8
WordGenerator
===============
*/
#eight {
  background-color: #f1f1f1;
  width: 100%;
  height: 1000vh;
}

#eight .btn {
  text-transform: uppercase;
  background: var(--clr-primary-7);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-7);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

#eight .btn:hover {
  color: #f1f1f1;
  background: rgb(222, 139, 15);
}

/* section */
#eight .section {
  padding: 5rem 0;
}

#eight .section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding-top: 5rem;
}

@media screen and (min-width: 992px) {
  #eight .section-center {
    width: 95vw;
  }
  #eight .lorem-form div {
    flex-direction: row;
  }
}

#eight main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#eight h3 {
  text-transform: uppercase;
  color: var(--clr-primary-6);
}

#eight .lorem-form div {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eight label {
  font-size: 1.25rem;
  color: #333;
}

#eight input, #eight select {
  padding: 0.25rem 0.5rem;
  width: 5rem;
  border-radius: var(--radius);
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}

#eight button {
  background: var(--clr-primary-10);
}

#eight .result {
  margin: 2rem 0;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 10px;
}
#eight .result div {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  margin-bottom: .5rem;
  background-color: transparent;
  color: #000;
}

/*
=============== 
Color Generator
===============
*/
#nine {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 1rem;
}

#nine .nine-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 500px;
  max-width: 90vw;
  margin: 2rem auto;
  height: 100px;
}

#nine .nine-container h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

#nine input {
  border-color: #ddd;
  padding: 0.5rem 1rem;
  width: 99%;
  font-size: 1.2rem;
}

#nine .btn {
  background: var(--clr-primary-5);
  margin-top: .2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: transparent;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  #nine .contain h3 {
    font-size: 1rem;
  }

  #nine input,
  #nine .btn {
    font-size: 0.85rem;
  }
}

#nine input.error {
  border: 2px solid var(--clr-red-dark);
}

#nine .colors {
  min-height: calc(100vh - 300px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
  gap: 10px;
  cursor: pointer;
  color: #000;
}

#nine .color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}

#nine .percent-value {
  margin-bottom: 0;
  color: #000;
}

#nine .color-value {
  color: #000;
  margin-bottom: 0;
}

#nine .color-light .color-value {
  color: var(--clr-white);
}

#nine .color-light .percent-value {
  color: var(--clr-white);
}

#nine .clip-alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

/*
=============== 
Grocery List
Project10
===============
*/
#ten .section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
  max-width: 800px;
  width: 90%;
  margin: 1rem auto;
}

#ten .section-center:hover {
  box-shadow: var(--dark-shadow);
}

#ten .alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

#ten .alert-danger {
  color: #721c24;
  background: #f8d7da;
}

#ten .alert-success {
  color: #155724;
  background: #d4edda;
}

#ten .grocery-form h3 {
  color: #007;
  margin-bottom: 1.5rem;
  text-align: center;
}

#ten .form-control {
  display: flex;
  justify-content: center;
}

#ten .grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  margin-right: .5rem;
  border-color: rgb(190, 188, 188);
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-8);
}

#ten .grocery::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}

#ten .submit-btn {
  background: var(--clr-primary-6);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}

#ten .submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

#ten .grocery-container {
  margin-top: 2rem;
}

#ten .grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}

#ten .grocery-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}

#ten .grocery-item:hover .item-title {
  color: var(--clr-grey-5);
}

#ten .item-title {
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  transition: var(--transition);
}

#ten .edit-btn,
#ten .delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}

#ten .edit-btn {
  color: var(--clr-green-light);
}

#ten .edit-btn:hover {
  color: var(--clr-green-dark);
}

#ten .delete-btn {
  color: var(--clr-red-light);
}

#ten .delete-btn:hover {
  color: var(--clr-red-dark);
}

#ten  .clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}

#ten .clear-btn:hover {
  color: var(--clr-red-dark);
}

/*===== PROJECT11===== */

/*
=============== 
Home
===============
*/

#eleven {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}

.btn:hover {
  color: var(--clr-black);
  background: transparent;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}

.close-btn:hover {
  color: var(--clr-red-light);
}

.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}

.links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
}

.links a:hover svg {
  color: var(--clr-grey-4);
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}